$colorWhite:#fff;
$colorGray:#3c3c3c;
$colorPurple:#a5adc1;
$fontList: "Lato", "Myriad Pro";
//Devices's Widths

$tabletWidth:1366px;
$phoneWidth:768px;
$iPhoneWidth:640px;
$lowPhoneWidth:480px;
$oldPhoneWidth:320px;