@import 'reset';
@import 'mixins';
@import 'variables';
@import 'https://fonts.googleapis.com/css?family=Lato';
* {
    box-sizing: border-box;
}

.wrapper {
    max-width: 980px;
    margin: 0 auto;
    position: relative;
}

body,
.container {
    width: 100%;
    height: 100%;
}

section {
    width: 100%;
    position: relative;
}

.responsive-background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.responsive-background-no-fixed {
    @extend .responsive-background;
    background-attachment: scroll;
}

section#hero {
    background-image: url('../imgs/hero_background.png');
    @extend .responsive-background;
    @media screen and (max-width: $phoneWidth) {
        padding-top: 10px;
        background-position: -150px 0px;
    }
    padding-top: 280px;
    padding-bottom: 112px;
    header {
        text-align: center;
        font-family: "Lato", "Myriad Pro";
        max-width: 585px;
        margin-left: auto;
        margin-right: auto;
        text-transform: uppercase;
        & .hero-title {
            color: $colorWhite;
            font-size: 3.375em;
            font-weight: bold;
            margin-top: 85px;
            margin-left: auto;
            margin-right: auto;
            letter-spacing: 10px;
            @media screen and (max-width: $phoneWidth) {
                font-size: 2em;
            }
        }
        .hero-text {
            color: $colorWhite;
            margin-top: 54px;
            font-size: 0.9375em;
            line-height: 1.6em;
        }
        .hero-baina {
            margin-top: 245px;
            @media screen and (max-width: $phoneWidth) {
                display: none;
            }
        }
    }
}

//Part-square-container styling
.part-square-container {
    max-width: 900px;
    padding-bottom: 50px;
    margin: 0 auto;
    border: 2px solid $colorGray;
    position: relative;
    font-family: $fontList;
    color: $colorGray;
    @media screen and (max-width: $phoneWidth) {
        margin: 0 10px;
    }
    & .square-title {
        position: absolute;
        text-transform: uppercase;
        font-size: 2.125em;
        letter-spacing: 7px;
        font-weight: bold;
        background-color: $colorWhite;
        left: 25%;
        top: -20px;
        padding-left: 105px;
        padding-right: 105px;
        @media screen and (max-width: $phoneWidth) {
            font-size: 1.4em;
            padding-right: 10px;
            padding-left: 10px;
            top: -13px;
        }
    }
    & .square-text {
        text-align: center;
        font-size: 1em;
        line-height: 1.7em;
        max-width: 555px;
        margin: 0 auto;
        margin-top: 62px;
        @media screen and (max-width: $phoneWidth) {
            text-align: justify;
            padding: 0 20px;
            margin-top: 40px;
        }
    }
}

section#about-us {
    padding-bottom: 160px;
    padding-top: 160px;
}

section#services {
    background-image: url('../imgs/services_background.png');
    @extend .responsive-background-no-fixed;
    padding-top: 125px;
    padding-bottom: 108px;
    & .part-square-container {
        border-color: $colorWhite;
        color: $colorWhite;
        & .square-title {
            padding-left: 115px;
            padding-right: 115px;
            @extend .responsive-background-no-fixed;
            //background-color: $colorPurple;
            background-image: url('../imgs/bulto.png');
            background-size: cover;
            @media screen and (max-width: $phoneWidth) {
                font-size: 1.4em;
                padding-right: 10px;
                padding-left: 10px;
                top: -13px;
            }
        }
    }
}

section#what-we-do {
    padding-top: 114px;
    padding-bottom: 114px;
    .what-we-do-container {
        padding-bottom: 88px;
        & .what-we-do-text {
            margin-top: 36px;
        }
        & .what-element {
            margin: 0 auto;
            & .img-desc {
                text-align: center;
                margin-top: 110px;
                & .wwd-title {
                    font-weight: bold;
                    margin-top: 41px;
                    letter-spacing: 5px;
                }
            }
        }
    }
}

section#contact-us {
    padding-top: 114px;
    padding-bottom: 114px;
    .button-container {
        text-align: center;
        margin-top: 45px;
        & .contact-us-button {
            outline: 0;
            margin: 0;
            border: none;
            color: $colorWhite;
            background-color: $colorGray;
            font-family: $fontList;
            padding: 23px 145px;
            font-size: 1em;
            font-weight: bold;
            //max-width: 395px;
            text-transform: uppercase;
            letter-spacing: 3px;
            @include prefix(transition,
            background-color .3s ease);
            @media screen and (max-width: $phoneWidth) {
                padding-right: 20%;
                padding-left: 20%;
            }
            &:hover {
                cursor: pointer;
                background-color: $colorPurple;
            }
        }
    }
}

section#our-works {
    .flex-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        
        .our-work-panel {
            width: 450px;
            height: 230px;
            flex-grow: 1;
            margin-right: 10px;
            margin-top: 10px;
            position: relative;
            &:hover {
                cursor: pointer;
            }
            @extend .responsive-background-no-fixed;
            @media screen and (max-width: $tabletWidth) {
                margin-right: 10px;
            }
            @media screen and (max-width: $phoneWidth) {
                margin-right: 0px;
            }
            &:nth-child(1) {
                background-image: url('../imgs/work1.png');
            }
            &:nth-child(2) {
                background-image: url('../imgs/work2.png');
                flex-grow: 3;
            }
            &:nth-child(3) {
                background-image: url('../imgs/work3.png');
                @media screen and (max-width: $tabletWidth) {
                    margin-right: 10px;
                }
            }
            &:nth-child(4) {
                background-image: url('../imgs/work4.png');
            }
            &:nth-child(5) {
                background-image: url('../imgs/work5.png');
                flex-grow: 3;
            }
            &:nth-child(6) {
                background-image: url('../imgs/work6.png');
            }
            &:nth-child(2n) {
                @media screen and (max-width: $tabletWidth) {
                    margin-right: 0;
                }
            }
            &:nth-child(3n) {
                margin-right: 0px;
                @media screen and (max-width: $phoneWidth) {
                    margin-right: 0px;
                    flex-grow: 1;
                }
            }
            & .our-work-title {
                position: absolute;
                bottom: 41px;
                left: 48px;
                text-transform: uppercase;
                color: $colorWhite;
                font-weight: bold;
                font-family: $fontList;
                letter-spacing: 7px;
            }
        }
    }
}

section#footer {
    footer {
        text-align: center;
        margin-bottom: 65px;
        & .footer-img-container {
            display: inline;
            margin-right: 36px;
        }
        & .footer-copy-text {
            display: inline;
            font-family: $fontList;
            font-size: 0.875em;
            position: relative;
            top: -10px;
        }
    }
}