@import 'https://fonts.googleapis.com/css?family=Lato';
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
.container {
  box-sizing: border-box; }

.wrapper {
  max-width: 980px;
  margin: 0 auto; }

body {
  width: 100%;
  height: 100%; }

section {
  width: 100%;
  position: relative; }

.responsive-background, .responsive-background-no-fixed, section#services, section#our-works .flex-container .our-work-panel, section#hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed; }

.responsive-background-no-fixed, section#services, section#our-works .flex-container .our-work-panel {
  background-attachment: scroll; }

section#hero {
  background-image: url("../imgs/hero_background.png");
  padding-top: 280px;
  padding-bottom: 112px; }
  section#hero header {
    text-align: center;
    font-family: "Lato", "Myriad Pro";
    max-width: 585px;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase; }
    section#hero header .hero-title {
      color: #fff;
      font-size: 3.375em;
      font-weight: bold;
      margin-top: 85px;
      margin-left: auto;
      margin-right: auto;
      letter-spacing: 10px; }
    section#hero header .hero-text {
      color: #fff;
      margin-top: 54px;
      font-size: 0.9375em;
      line-height: 1.6em; }
    section#hero header .hero-baina {
      margin-top: 245px; }

.part-square-container {
  max-width: 900px;
  padding-bottom: 50px;
  margin: 0 auto;
  border: 2px solid #3c3c3c;
  position: relative;
  font-family: 'Lato', 'Myriad Pro';
  color: #3c3c3c; }
  .part-square-container .square-title {
    position: absolute;
    text-transform: uppercase;
    font-size: 2.125em;
    letter-spacing: 7px;
    font-weight: bold;
    background-color: #fff;
    left: 25%;
    top: -5%;
    padding-left: 105px;
    padding-right: 105px; }
  .part-square-container .square-text {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.3em;
    max-width: 555px;
    margin: 0 auto;
    margin-top: 62px; }

section#about-us {
  padding-bottom: 160px;
  padding-top: 160px; }

section#services {
  background-image: url("../imgs/services_background.png");
  padding-top: 125px;
  padding-bottom: 108px; }
  section#services .part-square-container {
    border-color: #fff;
    color: #fff; }
    section#services .part-square-container .square-title {
      background-image: url("../imgs/bulto.png");
      background-size: cover; }

section#what-we-do {
  padding-top: 114px;
  padding-bottom: 114px; }
  section#what-we-do .what-we-do-container {
    margin-top: 120px; }
    section#what-we-do .what-we-do-container .what-element {
      margin: 0 auto; }
      section#what-we-do .what-we-do-container .what-element .img-desc {
        text-align: center; }
        section#what-we-do .what-we-do-container .what-element .img-desc .wwd-title {
          font-weight: bold; }

section#contact-us {
  padding-top: 114px;
  padding-bottom: 114px; }
  section#contact-us .button-container {
    text-align: center; }
    section#contact-us .button-container .contact-us-button {
      outline: 0;
      margin: 0;
      border: none;
      color: #fff;
      background-color: #3c3c3c;
      font-family: 'Myriad Pro';
      padding: 15px 145px;
      font-size: 1em;
      max-width: 395px;
      text-transform: uppercase;
      margin-top: 45px; }
      section#contact-us .button-container .contact-us-button:hover {
        cursor: pointer; }

section#our-works .flex-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between; }
  section#our-works .flex-container .our-work-panel {
    width: 450px;
    height: 230px;
    flex-grow: 1;
    margin: 10px;
    position: relative; }
    section#our-works .flex-container .our-work-panel:nth-child(1) {
      background-image: url("../imgs/work1.png"); }
    section#our-works .flex-container .our-work-panel:nth-child(2) {
      background-image: url("../imgs/work2.png");
      flex-grow: 3; }
    section#our-works .flex-container .our-work-panel:nth-child(3) {
      background-image: url("../imgs/work3.png"); }
    section#our-works .flex-container .our-work-panel:nth-child(4) {
      background-image: url("../imgs/work4.png"); }
    section#our-works .flex-container .our-work-panel:nth-child(5) {
      background-image: url("../imgs/work5.png");
      flex-grow: 3; }
    section#our-works .flex-container .our-work-panel:nth-child(6) {
      background-image: url("../imgs/work6.png"); }
    section#our-works .flex-container .our-work-panel:nth-child(3n) {
      margin-right: 0; }
    section#our-works .flex-container .our-work-panel .our-work-title {
      position: absolute;
      bottom: 41px;
      left: 48px;
      text-transform: uppercase;
      color: #fff;
      font-weight: bold;
      font-family: 'Lato', 'Myriad Pro';
      letter-spacing: 7px; }
